<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my blog</h1>
    <h2>{{ date }}</h2>
    <ul>
    <h3>what is a client?</h3>
    <p>A client is a piece of computer hardware or software that accesses a service made available by a server. The server is often (but not always) on another computer system, in which case the client accesses the service by way of a network.</p>
    </ul>

    <ul>
    <h3>what is a server?</h3>
    <p>In computing, a server is a computer program or a device that provides functionality for other programs or devices, called "clients". This architecture is called the client–server model, and a single overall computation is distributed across multiple processes or devices.<br> Servers can provide various functionalities, often called "services", such as sharing data or resources among multiple clients, or performing computation for a client.</p>
    </ul>

    <ul>
    <h3>what is an HTTP request?</h3>
    <p>The Hypertext Transfer Protocol (HTTP) is designed to enable communications between clients and servers. <br>HTTP works as a request-response protocol between a client and server. <br>A web browser may be the client, and an application on a computer that hosts a web site may be the server.Example: <br>A client (browser) submits an HTTP request to the server; then the server returns a response to the client. The response contains status information about the request and may also contain the requested content.</p>
    </ul>

    <ul>
    <h3>what is an HTTP response?</h3>
    <p>An HTTP response is made by a server to a client. The aim of the response is to provide the client with the resource it requested, or inform the client that the action it requested has been carried out; or else to inform the client that an error occurred in processing its request.</p>
    </ul>

    <ul>
    <h3>what is Django and why do we use it?</h3>
    <p>Django is an open-source framework for backend web applications based on Python — one of the top web development languages. Its main goals are simplicity, flexibility, reliability, and scalability. Django has its own naming system for all functions and components (e.g., HTTP responses are called “views”).</p>
    </ul>

</body>
</html>